@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  :root {
    --background: 0 0% 98%; /* Light Gray, Apple-like */
    --foreground: 0 0% 10%; /* Dark Gray for text */
    
    --card: 90 4% 88% / 0.93; /* Greyish White with 7% transparency */
    --card-foreground: 0 0% 10%;
    
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 10%;
    
    --primary: 217 91% 60%; /* Vibrant Blue */
    --primary-foreground: 0 0% 100%;
    
    --secondary: 0 0% 96%;
    --secondary-foreground: 0 0% 10%;
    
    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 45%;
    
    --accent: 0 0% 96%;
    --accent-foreground: 0 0% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    
    --border: 0 0% 90%;
    --input: 0 0% 90%;
    --ring: 217 91% 60%;
    
    --radius: 0.8rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  body::-webkit-scrollbar {
    display: none;
  }
}
